@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Karla", sans-serif;
}

:root {
	/* Primary */
	--cyan: hsl(179, 62%, 43%);
	--brightyellow: hsl(71, 73%, 54%);

	/* Neutral */
	--lightgray: hsl(204, 43%, 93%);
	--grayishblue: hsl(218, 22%, 67%);
}

.block1 {
}
